table {
    margin: 0 auto;
    table-layout: fixed;
    font-size: 50px;
}

table td {
    width: 100px;
    height: 100px;
}

table tr {
    border-bottom: 3px solid blue;
}

table tr:last-child {
    border-bottom: none;
}

table td {
    border-right: 3px solid black;
}

table td:last-child {
    border-right: none;
}
